@import url("reset.css");
:root {
  --navbar-height: 90px;
}

body {
  background-size: 40%;
  background-image: url("../img/pattern.png");
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.a-fancy {
  display: inline-block;
  transition: transform 0.2s ease-out;
}
.a-fancy:hover {
  transform: scale(1.25);
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: var(--navbar-height);
  opacity: 0.989;
  background-color: ghostwhite;
  border-radius: 0 0 12.5px 12.5px;
}
nav .wordmark {
  position: relative;
  left: 50px;
  top: -5px;
  width: min-content;
  height: var(--navbar-height);
  margin-bottom: calc(-1 * var(--navbar-height));
  line-height: var(--navbar-height);
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  transform: scaleX(1.1);
}
nav ul {
  display: flex;
  height: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
  font-size: 32px;
}
nav ul li a {
  color: inherit;
  text-decoration: none;
}

.nav-spacer {
  padding-bottom: var(--navbar-height);
}

.content {
  width: 98vw;
  max-width: 1200px;
  min-height: 100vh;
  padding: 0 10px 10px 10px;
  padding-top: var(--navbar-height);
  border-radius: 0 0 12.5px 12.5px;
  margin: 0 auto;
  margin-top: calc(-1 * var(--navbar-height));
  background-color: white;
}
.content .title-text {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
.content .title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: scaleX(1.1);
}
.content .page-title {
  font-size: 42px;
}
.content .site-title {
  font-size: 52px;
  text-decoration: underline;
}
.content .subtitle {
  line-height: 1;
  font-style: italic;
  font-weight: normal;
}
.content .separator {
  width: 98%;
  border-bottom: 4px rgba(4, 4, 4, 0.7529411765) solid;
  border-radius: 2%;
  margin: 0 auto;
}
.content .info, .content .image-info {
  display: flex;
  margin: 28px 0;
}
.content .info .image, .content .image-info .image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  padding: 12px;
  border-radius: 40%;
  margin-right: 15px;
  background-color: rgba(148, 148, 148, 0.3137254902);
}
.content .info .image img, .content .image-info .image img {
  border-radius: 40%;
}
.content .info .description h2, .content .image-info .description h2 {
  margin-bottom: 12px;
}
.content .info .description p, .content .image-info .description p {
  width: 80%;
}
.content .info .description h2 {
  text-align: center;
}
.content .info .description p {
  margin: 0 auto;
}
.content .projects-flex {
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.content .project {
  width: 290px;
}
.content .project img {
  aspect-ratio: 3/2;
  width: 280px;
  margin: 0 auto;
  object-fit: cover;
}
.content .people-flex {
  display: flex;
  width: 75%;
  margin: 40px auto;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.content .person {
  width: 205px;
}
.content .person img {
  aspect-ratio: 1.07;
  width: 200px;
  border-radius: 60%;
  margin: 0 auto;
  margin-bottom: 5px;
  object-fit: cover;
}
.content .press-flex {
  display: flex;
  width: 75%;
  margin: 40px auto;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.content .press-image {
  width: 400px;
  margin: 0 auto;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding: 5px;
  margin-top: 40px;
  background-color: #040404;
  color: white;
}
footer .footer-column {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
footer .footer-column:last-of-type {
  text-align: end;
}

/*# sourceMappingURL=styles.css.map */
